---
interface Props {
  name: string;
  link: string;
  source: string;
  description: string;
}

const { name, link, source, description } = Astro.props;
---

<li class="w-full list-none py-0 sm:w-auto" aria-label="Sponsor">
  <a
    href={link}
    target="_blank"
    class="align-center flex flex-col flex-wrap items-center justify-end gap-4 rounded-lg border-4 border-solid px-6 py-8 border-gradient-primary border-bg-primary dark:border-bg-primary-dark"
  >
    <img
      class="h-14 w-44 object-contain motion-safe:transition-all sm:h-20 sm:w-60"
      loading="lazy"
      src={source}
      alt={`${name} logo`}
    />
    <p aria-label="Name" class="text-xl font-semibold sm:text-2xl" aria-label="Name">{name}</p>
    <p class="m-0 text-center font-medium text-opacity-80" aria-label="Description">{description}</p>
  </a>
</li>
