---
import "@styles/main.scss";
import "@fontsource/roboto/100.css";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import "@fontsource/roboto-mono/100.css";
import "@fontsource/roboto-mono/200.css";
import "@fontsource/roboto-mono/300.css";
import "@fontsource/roboto-mono/400.css";
import "@fontsource/roboto-mono/500.css";
import "@fontsource/roboto-mono/600.css";
import "@fontsource/roboto-mono/700.css";

import config from "../../../config.json";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const title = `${config.title}${pageTitle && ` | ${pageTitle}`}`;
---

<!-- Title -->
<title>{title}</title>
<meta name="og:title" content={title} />

<!-- Favicon -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<!-- Metadata headers -->
{
  config.metatags.map((metatag) => {
    return <meta name={metatag.name} content={metatag.content} />;
  })
}

<!-- Misc -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="onion-location" content="r5jopxwjyy3pberv7a43r3e2i3whtxvk5lsotl3cap3zqltxev67zqid.onion" />
<link rel="me" href="https://mastodon.thenewoil.org/@thenewoil" />
<link rel="me" href="https://mastodon.thenewoil.org/@admin" />
<link rel="me" href="https://mastodon.thenewoil.org/@nateb" />
