---
import { Icon } from "astro-icon/components";

import { getLanguageFromUrl, languages } from "@/utils/i18n";

import LanguageSwitcher from "./LanguageSwitcher.astro";
import HeaderLink from "./HeaderLink.astro";

interface HeaderTexts {
  home: string;
  guides: string;
  about: string;
  links: string;
  support: string;
}

const language = getLanguageFromUrl(Astro.url);
const languageCode = language.code;

const headerTexts: HeaderTexts = (await import(`../../assets/data/layout/${languageCode}/Header.json`)).default;
---

<header
  class="flex min-h-[4rem] items-center justify-between bg-secondary px-6 text-primary-dark-contrast lg:shadow lg:drop-shadow-sm"
>
  <div class="hidden flex-1 gap-2 lg:flex">
    <HeaderLink href="" lang={languageCode}>{headerTexts.home}</HeaderLink>
    <HeaderLink
      href="/guides/prologue"
      lang={languageCode}
      active={Astro.url.pathname.includes(`/${languageCode}/guides`)}
    >
      {headerTexts.guides}
    </HeaderLink>
  </div>

  <a href={`/${languageCode}`} class="flex h-4 items-center gap-2 text-2xl font-black">
    <p class="w-max break-normal uppercase">The New Oil</p>
    <img
      src="/images/graphics/header.png"
      alt="The New Oil logo"
      width="68"
      height="100"
      class="h-auto max-w-[1.25rem] text-[0px]"
    />
  </a>

  <div class="hidden flex-1 items-center justify-end gap-2 lg:flex">
    <HeaderLink href="/about" lang={languageCode}>{headerTexts.about}</HeaderLink>
    <HeaderLink href="/links" lang={languageCode}>{headerTexts.links}</HeaderLink>
    <HeaderLink href="/support" lang={languageCode} variant="primary">{headerTexts.support}</HeaderLink>
    {languages.length > 1 && <LanguageSwitcher />}
  </div>

  <details class="group/mobile-menu flex flex-col lg:hidden">
    <summary
      class="rounded-full bg-white bg-opacity-0 p-2 transition-all hover:bg-opacity-5 group-open/mobile-menu:bg-opacity-[.15]"
    >
      <div class="relative flex h-7 w-7 items-center justify-center">
        <Icon
          name="mdi:menu"
          class="absolute transition-all group-open/mobile-menu:-rotate-90 group-open/mobile-menu:opacity-0"
          role="img"
          aria-label="Menu icon"
        />
        <Icon
          name="mdi:chevron-up"
          class="absolute h-7 w-7 rotate-90 opacity-0 transition-all group-open/mobile-menu:rotate-0 group-open/mobile-menu:opacity-100"
          role="img"
          aria-label="Menu icon"
        />
      </div>
    </summary>
    <div
      class="absolute right-0 z-50 flex w-full flex-col gap-2 bg-secondary p-4 text-primary-dark-contrast shadow-md lg:hidden"
    >
      <HeaderLink
        href="/guides/prologue"
        lang={languageCode}
        active={Astro.url.pathname.includes(`/${languageCode}/guides`)}
      >
        {headerTexts.guides}
      </HeaderLink>
      <HeaderLink href="/about" lang={languageCode}>{headerTexts.about}</HeaderLink>
      <HeaderLink href="/links" lang={languageCode}>{headerTexts.links}</HeaderLink>
      <HeaderLink href="/support" lang={languageCode} variant="primary">{headerTexts.support}</HeaderLink>
      {languages.length > 1 && <LanguageSwitcher contentClass="w-full" />}
    </div>
  </details>
</header>
