---
import { fuzzyCompareUrl } from "@utils/url";

interface Props {
  href: string;
  active?: boolean;
  variant?: "default" | "primary" | "secondary";
  lang?: string | undefined;
}

const { lang } = Astro.props;
let { href, active, variant = "default" } = Astro.props;

if (lang) {
  href = `/${lang}${href}`;
}

if (active === undefined) {
  active = fuzzyCompareUrl(Astro.url.pathname, href);
}
---

<a
  href={href}
  data-active={String(active)}
  class={[
    "rounded-md px-5 py-2 font-medium transition-all",
    variant === "default" && "bg-white/0 hover:bg-white/5 data-[active='true']:bg-white/15",
    variant === "primary" &&
      "bg-linear-to-br from-gradient-primary-start to-gradient-primary-end text-primary hover:opacity-80 hover:underline data-[active='true']:underline",
    variant === "secondary" &&
      "bg-linear-to-br from-gradient-secondary-start to-gradient-secondary-end text-secondary hover:opacity-80 hover:underline data-[active='true']:underline"
  ]
    .filter(Boolean)
    .join(" ")}
  hreflang={lang}
  data-astro-prefetch
>
  <slot />
</a>
