---
import { Icon } from "astro-icon/components";
import { getLanguageFromUrl, getUrlInLanguage, languages } from "@/utils/i18n";

interface Props {
  class?: string;
  summaryClass?: string;
  contentClass?: string;
}

const { class: className = "", summaryClass = "", contentClass = "" } = Astro.props;

const currentLanguage = getLanguageFromUrl(Astro.url);
---

<details class={`group relative h-fit flex-col justify-center gap-2 ${className}`}>
  <summary
    class={`flex items-center rounded-md bg-white bg-opacity-0 px-5 py-2 transition-all hover:bg-opacity-5 group-open:bg-opacity-[.15] ${summaryClass}`}
  >
    <Icon name="mdi:web" class="w-7 h-7" role="img" aria-label="Web icon" />
    <Icon
      name="mdi:chevron-up"
      class="w-6 h-6 group-open:rotate-180 motion-safe:transition-all motion-safe:duration-200 motion-safe:ease-out"
      role="img"
      aria-label="Dropbown button icon"
    />
  </summary>
  <div
    class={`absolute top-full right-0 flex translate-y-4 flex-col rounded-md bg-secondary text-primary-dark-contrast shadow-md ${contentClass}`}
  >
    {
      languages.map(async (language) => {
        const url = await getUrlInLanguage(Astro.url, language.code);
        return (
          <a
            aria-disabled={currentLanguage.code === language.code}
            class="flex w-full min-w-max items-center gap-4 rounded-md bg-white bg-opacity-0 px-4 py-3 font-medium transition-all hover:bg-opacity-5 aria-disabled:pointer-events-none aria-disabled:bg-opacity-[.15] aria-disabled:hover:bg-opacity-[.15]"
            href={url}
            hreflang={language.code}
          >
            <img
              src={language.image || `/images/languages/${language.code}.png`}
              alt={`${language.name} icon`}
              class="h-10 w-10 rounded-full object-cover"
            />
            <span>{language.name}</span>
          </a>
        );
      })
    }
  </div>
</details>
