---
import type { MarkdownHeading } from "astro";

import DefaultHead from "@components/layout/DefaultHead.astro";
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import TableOfContents from "@components/layout/TableOfContents.astro";
import { getLanguageFromUrl } from "@/utils/i18n";

interface Props {
  frontmatter: {
    title: string;
  };
  headings: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;

const language = getLanguageFromUrl(Astro.url);
---

<!doctype html>
<html lang={language.code}>
  <head>
    <DefaultHead pageTitle={frontmatter.title} />
  </head>

  <body>
    <Header title={frontmatter.title} />
    <div class="flex flex-col overflow-hidden lg:flex-row">
      <TableOfContents headings={headings} />
      <div class="flex w-full flex-col items-center justify-between overflow-auto">
        <main class="flex w-full max-w-screen-2xl flex-col gap-8">
          <slot />
        </main>
        <Footer transparent={true} />
      </div>
    </div>
  </body>
</html>
